@import "./styles/loginScreen.css";
@import "./styles/SolicitacaoResponsavelScreen.css";
.background{
    background-color: #FFD86E;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}