@import url('https://fonts.googleapis.com/css2?family=Inria+Sans:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Inria+Sans:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@font-face {
  font-family: "Kokoro";
  src: url("./assets/fonts/Kokoro-Regular.ttf");
}

html, body, #root{
  height: 100%;
  margin: 0;
}

:root {
  --titleFont: 'Inria Sans';
  --textFont: 'Kokoro'
}

